---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Sample Corporate Site">
  <main>
    <!-- Hero Image -->
    <div class="bg-gray-200 min-h-[570px] flex items-center">
      <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 px-4">
          <div class="flex flex-col">
            <div class="text-6xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </div>
            <div class="text-xl">Lorem ipsum dolor sit amet</div>
            <div class="text-2xl">Lorem ipsum dolor sit amet</div>
          </div>
          <div class="h-[280px] w-[480px] border border-gray-400">
            Hero Image
          </div>
        </div>
      </div>
    </div>
    <!-- Events -->
    <div class="bg-white">
      <div class="container mx-auto py-8">
        <div class="text-2xl text-center">Events</div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-2">
          <Card date="2023/1/1" href="/abc.html" />
          <Card date="2023/1/1" href="/abc.html" />
          <Card date="2023/1/1" href="/abc.html" />
        </div>
      </div>
    </div>
    <!-- About Us -->
    <div class="bg-gray-100">
      <div class="container mx-auto py-8">
        <div class="text-2xl text-center">About us</div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
  </main>
</Layout>
