---

---

<footer class="text-white bg-gray-600">
  <div class="container mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-5 gap-2 py-16 px-4">
      <div>
        <a>Seminer/Event</a>
      </div>
      <div>
        <a>Download</a>
        <ul class="list-inside list-disc">
          <li>Usage</li>
          <li>Catalogue</li>
          <li>White Paper</li>
          <li>Other</li>
        </ul>
      </div>
      <div>
        <a>Company</a>
        <ul class="list-inside list-disc">
          <li>Privacy/Policy</li>
        </ul>
      </div>
      <div>
        <a>FAQ</a>
      </div>
      <div>
        <a>Contact</a>
      </div>
    </div>
    <p class="w-full text-center">
      Copyright © sonesuke All Rights Reserved.<p></p>
    </p>
  </div>
</footer>
