---

---

<header>
  <div class="container mx-auto">
    <div class="flex justify-between">
      <div class="p-4">LOGO</div>
      <div class="flex items-center">
        <nav class="">
          <ul class="grid grid-flow-col gap-2">
            <li>
              <a href="./">Seminer/Event</a>
            </li>
            <li>
              <a href="./">Download</a>
            </li>
            <li>
              <a href="./">Company</a>
            </li>
            <li>
              <a href="./">FAQ</a>
            </li>
          </ul>
        </nav>
        <div class="bg-orange-600 text-white py-4 px-8">Contact</div>
      </div>
    </div>
  </div>
</header>
